.carta1 {
    height: 400px;
    margin: 0px 20px;
    width: calc(20% - 9px);
    max-height: 400px;
    
    .v-card__subtitle {
        text-align: justify !important;
        padding: 20px;
        color: #000 !important;

    }
}

.dividerFilter5 {
    background: #ededed !important;
    height: 1px;
}

.dividerFilter6 {
    background: #ededed !important;
    height: 1px;
}

.dividerFilter7 {
    background: #ededed !important;
    height: 1px;
}

@media (hover:hover){
    .carta1:hover {
        border: 3px solid #1976d2;
        padding: 8px;
    }
}

.block-header {
    margin-top: 25px;
}

@media (max-width: 480px){
    .carta1 {
        max-width: 100% !important;
        min-width: 100% !important;
        max-height: 100% !important;
        height: 100% !important;
        margin-bottom: 20px;
    }

    .v-slide-group__next {
        display: none;
    }
    
    .v-slide-group__prev {
        display: none;
    }

    .cards-business {
        max-width: 248px;
        height: 694px !important;
    }
}