.titulo {
    margin-top: -7px;
    font-weight: 700;
}

.fecha {
    margin-top: -15px;
    color: #000;
}

.texto {
    color: #000 !important;
    font-weight: 500;
    margin-top: -20px;
}

.enter {
    margin-left: 16px;
    margin-bottom: 25px;
}

.espacio {
    margin-bottom: 40px;
}

.voletin {
    color: #000 !important;
    font-weight: 400;
}

.seguro {
    color: #000 !important;
    font-weight: 500;
    margin-top: -20px;
}

.tobo {
    margin-left: 10px;
    margin-bottom: 15px;
    
}